*{
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8902a8;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 250px;
}

.googleSingUpAcount {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 50px;
  background-color: #fff;
}

.singInAcount,.singUpAcount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #5643c1;
  height: 40px;
  font-size: medium;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Email Form */

.email{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo{
  width: 250px;
  display: flex;
  align-items: center;
}

.googleLogo{
  width: 25px;
  height: 25px;
  background-color: #fff;
}