* {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./assets/background_larnu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Display Flex , Flex Direction : Column , Justify Content ; Center , aling Item Center*/

.loginForm,.buttons,.googleSingUpAcount,.singInAcount,
.singUpAcount,.email,.password,.App,button,input,.imagenes,.dashboardSider,.loading,.chooseUserName{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}

.buttons {
  gap: 1rem;
  width: 250px;
}

.googleSingUpAcount {
  width: 40px;
  height: 40px;
  gap: 1rem;
  padding: 1rem;
  border-radius: 50px;
  background-color: #fff;
}

.singInAcount,
.singUpAcount {
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #5643c1;
  height: 40px;
  font-size: medium;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Email Form */

.email {
  width: 250px;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password {
  width: 250px;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 250px;
  display: flex;
  align-items: center;
}

.googleLogo {
  width: 25px;
  height: 25px;
  background-color: #fff;
}


/* Botones de Prueba */
.App {
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
  color: #fff;
  font-family: roboto, sans-serif;
  font-size: larger;
}

a {
  color: #fff;
}

a:hover {
  color: #888;
}

button {
  width: 150px;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #5643c1;
  height: 40px;
  font-size: medium;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 250px;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.counter {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.App-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.imagenes {
  width: 50px;
}

.imagenes img {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  margin: 0.5rem;
}

/* Dashboard */

.dashboardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.dashboardSider {
  flex-direction: column;
  gap: 1rem;
  width: 45vh;
  height: 100vh;
}

.dashboardSider h1 {
  background-color: none;
}

.dashboardView {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200vh;
}

.vote {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.loading {
  height: 100vh;
  gap: 1rem;
}

.iframe {
  width: 98%;
  height: 95vh;
}

.pushLogo{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.dashLogo{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.dashboardSiderButtons1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.dashSiderButtons1:hover {
color: #888;
}


.dashSiderButtons2:hover {
  color: #888;
  }
  
.signOut {
  margin-top: 150px;
}

.signOut:hover {
  color: #888;
}

.signOut a {
  outline-style: none;
  text-decoration: none;
}

.iframe {
  width: 98%;
  height: 95vh;
} 

.chooseUserName {
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}

.chooseUserName h1 {
  font-size: 2rem;
  color: #fff;
}

.chooseUserName p {
  font-size: 1rem;
  color: #ff8;
}
.chooseUserName input {
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 250px;
  height: 40px;
}

.chooseUserName button {
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 40px;
}